version: "3"
services:
  sonarqube_server:
    environment:
      - sonar.projectKey=BenjaminLesieux_AgileAutoParts_AYmHuTrwUUH-oCO6QK7t
      - sonar.language=ts
      - sonar.sources=with-jest-app/pages/
      - sonar.host.url=http://sonarqube:9000
    image: sonarqube
    container_name: sonarqube
    restart: always
    ports:
      - "9000:9000"
  jenkins_server:
    environment:
      - JVM_OPTS=-Xmx12g -Xms12g -XX:MaxPermSize=1024m
    build:
      context: .
      dockerfile: jenkins.Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - sonarqube_server